-Dhttp.proxyHost=70.10.15.10
-Dhttp.proxyPort=8080
-Dhttps.proxyHost=70.10.15.10
-Dhttps.proxyPort=8080
-Dhttps.nonProxyHosts="localhost|127.0.0.1|registry.insecure.io|sds.redii.net|70.30.174.94|70.30.0.0/16|nexus.sdsdev.*|sonar.sdsdev.*"
-Dhttp.nonProxyHosts="localhost|127.0.0.1|registry.insecure.io|sds.redii.net|70.30.174.94|70.30.0.0/16|nexus.sdsdev.*|sonar.sdsdev.*"
